{
  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],

  "plugins": ["prettier", "react", "prettier"],

  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "ignorePatterns": ["build/*"],

  "rules": {
    "react/prop-types": 0
  }
}
